
#ignore all replays
*.SC2Replay
*.SC2Replay_parsed
*.gz

#ignore all .csv data
*.csv

#ignore all tensorboard data
*.DESKTOP-6R44I4A

#ignore pycache files
*.cpython-36.pyc

#ignore following directories
1_3a/
log/
oldversion/
oldVersionReplays/
parsed_basic/
parsed_basic_v1_1/
replays/
replays_parsed/
replays_parsed_v1_1/
saves/
Proc_Data_
screens/
tensorboard/
tensorboard_logs/
tensorboard_sumlogs/
bin/__pycache__/
lib/__pycache__/
